{% extends "base.html" %} {% block title %} Home {% endblock %}

{% block content %}
<h1 align="center">Home</h1>
<br>
<div class="container p-5 my-5 border">
    <h4>Hi, this is my app</h4>
    <h4>I made this to keep people motivated about their passion. This app
    is about 2 of my favorite passions: running and reading. Just keep track of your passion every day
    and you will see some good results in the future!</h4>
</div>
<div class="container p-5 my-5 border">
    <h4 class="font-italic">"Motivation is what gets you started. Habit is what keeps you going."</h4>
    <h4 class="text-right">Jim Ryun</h4>
</div>

{% endblock %}